* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5e8390;
    padding: 20px;
}

/* کارت اصلی */
.card {
    width: 1000px;
    max-width: 100%;
    background: #fff;
    display: flex;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 12px 30px rgba(0,0,0,.1);
}

/* ستون‌ها */
.left, .right {
    flex: 1;
    padding: 40px;
}

/* سمت چپ */
.left {
    background: #182a45;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.left p {
    line-height: 2;
    opacity: 0.9;
    max-width: 300px;
}

/* عکس بزرگ */
.left-img {
    width: 220px;
    height: 220px;
    object-fit: contain;
    margin-top: 25px;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,.2));
}

.right {
    background:rgb(169, 196, 215);
}

.right h2 {
    margin-bottom: 20px;
    color: #222;
}

/* input */
input {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border: 1px solid #dbeafe;
    border-radius: 10px;
    background: #f8fafc;
}

input:focus {
    outline: none;
    border-color: #2563eb;
    background: #fff;
}

/* button */
button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
}

/* موبایل */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .left, .right {
        padding: 25px;
    }

    .left-img {
        width: 160px;
        height: 160px;
    }
}